body{
    background-color: #D3D3D3;
}

.titulo{
    margin: 50px;
}

.titulo2{
    text-align: center;
}

.titulo4{
    margin-top: 75px;
}

.perfil{
    height: 300px;
}

.image{
    border-radius: 15px;
    height: 250px;
}


.style{
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-bottom: 50px;
}

.titulo3{
    font-size: 24px;
}

.cumple{
    font-size: 18px;
}